* {
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: rgb(31, 31, 31);
  color: white;
}

#moviesCountersContainer {
  margin-bottom: 100px;
  padding-right: 50px;
  text-align: right;
  font-size: 30px;
}

#moviesCountersContainer p span {
  font-weight: bold;
}

#moviesListContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#moviesListContainer ul {
  list-style-type: none;
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.listElement {
  position: relative;
  border: 5px solid rgb(51, 51, 51);
  margin-bottom: 50px;
  padding: 10px 40px;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
  min-width: 300px;
  background-color: rgba(51, 51, 51, 0);
}

.listElement:hover {
  background-color: rgba(51, 51, 51, 1);
}

.listElement div {
  position: absolute;
  top: 38px;
  right: 20px;
  margin-left: 10px;
  height: 30px;
  width: 50px;
  background-repeat: no-repeat;
  transition: 0.1s ease-in;
}

.listElement div:hover {
  cursor: pointer;
}

.listElement h1 {
  padding-right: 35px;
}

.genre {
  color: rgb(170, 170, 170);
}

.listElement p {
  font-size: 20px;
  color: rgb(204, 204, 204);
  font-weight: normal;
}

.seen {
  background-image: url(img/eye_seen.svg);
}

.not-seen {
  background-image: url(img/eye_not-seen.svg);
}

/*two column in list for medium displays*/
@media (max-width: 1280px) {
  #moviesListContainer ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*one column in list for small displays*/
@media (max-width: 800px) {
  #moviesListContainer ul {
    grid-template-columns: 1fr;
  }
}
