* {
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: #212121;
  color: white;
}

#moviesCountersContainer {
  margin-bottom: 100px;
  padding-right: 50px;
  text-align: right;
  font-size: 30px;
}

#moviesCountersContainer p span {
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column: 2;
}

.listElement {
  border: 5px solid #333;
  grid-column: 2;
  margin-bottom: 50px;
  padding: 10px 40px;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
}

.listElement:hover {
  background-color: #333;
}

.listElement p {
  font-size: 20px;
  color: #ccc;
}

.status {
  position: relative;
}

.status span {
  position: absolute;
  top: 6px;
  margin-left: 10px;
  height: 24px;
  width: 40px;
  background-repeat: no-repeat;
  transition: 0.1s ease-in;
}

.status span:hover {
  cursor: pointer;
}

.seen {
  background-image: url(img/eye_seen.svg);
}

.unseen {
  background-image: url(img/eye_unseen.svg);
}
