* {
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: #212121;
  color: white;
}

#moviesCountersContainer {
  margin-bottom: 100px;
  padding-right: 50px;
  text-align: right;
  font-size: 30px;
}

#moviesCountersContainer p span {
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column: 2;
}

.listElement {
  position: relative;
  border: 5px solid #333;
  grid-column: 2;
  margin-bottom: 50px;
  padding: 10px 40px;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
}

.listElement:hover {
  background-color: #333;
}

.listElement div {
  position: absolute;
  top: 38px;
  right: 20px;
  margin-left: 10px;
  height: 30px;
  width: 50px;
  background-repeat: no-repeat;
  transition: 0.1s ease-in;
}

.listElement div:hover {
  cursor: pointer;
}

.listElement h1 {
  padding-right: 35px;
}

.desc {
  border: 2px solid white;
  padding: 20px;
}

.desc p {
  font-size: 20px;
  color: #ccc;
  font-weight: normal;
}

.seen {
  background-image: url(img/eye_seen.svg);
}

.not-seen {
  background-image: url(img/eye_not-seen.svg);
}
